<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ko"> <!--<![endif]-->
{{>layout/head}}
<body>
{{>layout/header}}
<div class="container">
    {{>layout/left-panel}}
    <!-- 본문자리 -->
    <div class="left_content_area">
        <div class="left_content_head">
            <h2 class="sub_tit">찍자 - 에러</h2>
        </div>
        <div class="inner">
            <div class="box_area full">
                {{msg}}

                <a href="/">홈으로 이동</a>
            </div>
        </div>
    </div>
</div>
<div id="popup"></div>
<!--// popup -->
</body>
</html>
