<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ko"> <!--<![endif]-->
{{>layout/head}}
<body>
    {{>layout/header}}
	<div class="container">
        {{>layout/left-panel}}
        <!-- 본문자리 -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        <script src="/js/jquery.js"></script>
        <script src="/js/common-util.js"></script>
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

        <div class="left_content_area">
            <div class="left_content_head">
                <h2 class="sub_tit">회원정보 수정</h2>
            </div>
            <div class="inner">
                <div class="box_area full">
                    <h3 class="sub_stit">사업자정보 수정</h3>
                    <form id="infoFrm" action="/api/userinfo-business" method="PUT">
                        <div class="box_area full">
                            <h3 class="sub_stit">비밀번호</h3>
                            <input type="password"  name="password" id="password" class="form_goods" placeholder="비밀번호를 입력해 주세요." value="">
                        </div>
                        <div class="box_area full">
                            <h3 class="sub_stit">비밀번호 확인</h3>
                            <input type="password"  name="passwordChk" id="passwordChk" class="form_goods" placeholder="비밀번호를 입력해 주세요." value="">
                        </div>
                        <div class="box_area full">
                            <h3 class="sub_stit">사업자 번호</h3>
                            <input type="text" id="businessNumber" name="businessNumber" class="form_goods" placeholder="사업자 번호를 입력해 주세요." value="{{#detail}}{{#businessNumber}}{{businessNumber}}{{/businessNumber}}{{/detail}}">
                        </div>
                        <div class="box_area full">
                            <h3 class="sub_stit">사업자 등록증</h3>
                            <input type="file" name="businessLicFile" id="businessLicFile" class="form_goods" placeholder="사업자 등록증 파일을 입력해 주세요." value="">
                            <div class="btn_area">
                                <button type="submit" id="joinBtn" class="btn_form">회원정보수정</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--// left_area -->

        <script	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!--        <script type="text/javascript"	src="/js/upload/jquery.ui.widget.js"></script>-->
<!--        <script type="text/javascript"	src="/js/upload/jquery.iframe-transport.js"></script>-->
<!--        <script type="text/javascript"	src="/js/upload/jquery.fileupload.js"></script>-->

<!--        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>-->
        <script src="/js/common/validateCommon.js"></script>
        <script src="/js/info/infoCommon.js"></script>
        <script src="/js/info/infoBusiness.js"></script>
        <script src="/js/jquery.validate.min.js"></script>
        <!-- 본문자리 -->
	</div>
	
	
	<!-- popup -->
	<div id="popup"></div>
	<!--// popup -->
</body>
</html>
