# Created by .ignore support plugin (hsz.mobi)
.gradle
.idea
application-real-db.properties
application-real-path.properties
# Project exclude paths
/build/
/build/classes/java/main/


/**/*.jsp
/templates/**/*.jsp
/**/templates/**/*.jsp
/module-studio/src/main/resources/templates/**/**.jsp
/module-common/src/main/generated/com/zzikza/springboot/web/domain/
module-api/build/
module-api/src/main/generated/
module-api/src/test/resources/
module-client/build/classes/
module-client/build/reports/
module-client/build/resources/main/META-INF/
module-client/build/resources/main/application.properties
module-client/build/resources/main/static/
module-client/build/resources/main/templates/
module-client/build/test-results/
module-client/build/tmp/
module-client/src/main/generated/
module-client/src/test/resources/
module-common/build/classes/
module-common/build/libs/
module-common/build/reports/
module-common/build/resources/main/application.properties
module-common/build/resources/test/application.properties
module-common/build/test-results/
module-common/build/tmp/
module-common/src/main/java/com/zzikza/springboot/web/domain/converter/
module-studio/build/classes/
module-studio/build/reports/
module-studio/build/resources/main/application.properties
module-studio/build/resources/main/static/
module-studio/build/resources/main/templates/board/boardList.mustache
module-studio/build/resources/main/templates/board/boardWrite.mustache
module-studio/build/resources/main/templates/index.mustache
module-studio/build/resources/main/templates/layout/footer.mustache
module-studio/build/resources/main/templates/layout/head.mustache
module-studio/build/resources/main/templates/layout/header.mustache
module-studio/build/resources/main/templates/layout/left-panel.mustache
module-studio/build/resources/main/templates/layout/paging.mustache
module-studio/build/resources/main/templates/layout/paging_prev.mustache
module-studio/build/resources/main/templates/login/
module-studio/build/resources/main/templates/posts-save.mustache
module-studio/build/resources/main/templates/posts-update.mustache
module-studio/build/resources/main/templates/template/base-layout.mustache
module-studio/build/resources/test/application.properties
module-studio/build/test-results/
module-studio/build/tmp/
module-studio/src/main/generated/
module-studio/src/main/java/com/zzikza/springboot/web/studio/controller/
src/main/java/
src/main/resources/templates/client/
src/test/
