# Created by .ignore support plugin (hsz.mobi)
.gradle
.idea
application-real-db.properties
# Project exclude paths
/build/
/build/classes/java/main/


/**/*.jsp
/templates/**/*.jsp
/**/templates/**/*.jsp
/module-studio/src/main/resources/templates/**/**.jsp
