<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ko"> <!--<![endif]-->
{{>layout/head}}
<body>
    {{>layout/header}}
	<div class="container">
        {{>layout/left-panel}}
        <!-- 본문자리 -->
        <!-- left_area -->
        <div class="left_content_area">
            <div class="left_content_head">
                <h2 class="sub_tit">고객문의관리</h2>
            </div>
            <div class="inner">
                <div class="box_area full">
                    <h3 class="sub_stit">고객문의관리</h3>
                    <table class="tCont">
                        <caption>고객문의관리 목록입니다</caption>
                        <colgroup>
                            <col class="td01">
                            <col style="">
                            <col class="td02">
                            <col class="td03">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>고객명</th>
                            <th>문의내용</th>
                            <th>문의날짜</th>
                            <th>문의상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#list}}
                            <tr>
                                <td>{{#user}}{{#userName}}{{userName}}{{/userName}}{{/user}}</td>
                                <td class="textL" style="">{{content}}</td>
                                <td>{{#createDate}}{{createDate}}{{/createDate}}</td>
                                <td>
                                    {{#isAnswer}}
                                        <span class="fRed">답변완료</span>
                                        <button type="button" data-seq='{{id}}' class="btn_insert btn_qna_view">답변보기</button>
                                    {{/isAnswer}}
                                    {{^isAnswer}}
                                        <span class="fBlue">답변대기</span>
                                        <button type="button" class="btn_insert" data-seq='{{id}}'>답변하기</button>
                                    {{/isAnswer}}
                                </td>
                            </tr>
                        {{/list}}
                        </tbody>
                    </table>
                    <!-- 페이징 -->
                    {{>layout/paging}}
                    <!-- 페이징 -->
                </div>
            </div>
        </div>
        <!--// left_area -->
        <script src="/js/moment.min.js"></script>
        <script src="/js/fullcalendar.js"></script>
        <script src="/js/question/questionList.js"></script>
        <script>
            function fn_paging(index){
                location.href= '/question/list?page='+index;
            }
        </script>
        <!-- 본문자리 -->
	</div>
	
	
	<!-- popup -->
	<div id="popup"></div>
	<!--// popup -->
</body>
</html>
