<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
 <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="apple-touch-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/css/include.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/html5shiv.js"></script>
        <script type="text/javascript" src="/js/html5shiv.printshiv.js"></script>
    <![endif]-->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/bootstrap-select.min.js"></script> <!-- selectbox -->
	<script src="/js/bootstrap.bundle.min.js"></script> <!-- selectbox -->
    <script src="/js/style.js"></script>
	<script src="/js/common-util.js"></script>
	<script src="/js/jquery.form.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152403132-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-152403132-1');
	</script>

</head>
<style>
.secure {
	width: 55px;
	cursor: pointer;
	display: inline-block;
	height: 47px;
	line-height: 33px;
	text-align: center;
	font-size: 13px;
	color: #4aa5ff;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #4aa5ff;
	box-sizing: border-box;
}

.find {
	display: inline-block;
	color: black;
	text-align: center;
	padding-left: 20px;
	margin: 10px 20px;
}

.showId {
	display: none;
}

dl.timer {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 70px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.4px;
	color: #f52926;
	font-weight: normal;
	padding-bottom: 50px;
}

#showId{
	color: #78a9e5;
}
div.login_menu {
	background: #fff;
}
</style>
<script></script>
<body>
	<div class="login_box">
	<form action="" method="post" id="findFrm">
	<ul class="login_form">
		<li><span>담당자 이름</span><input type="text" name="mng" >
		<li><span>휴대폰 번호</span><input type="number" name="mngCntt"  style="width : calc(80% - 112px);">
			<button  id="secureBtn" class="secure"  type="button">인증</button></li>
		<li class="secureNumber" style="display: none;"><span>인증 번호</span><input type="number" name="checkSecure"  style="width : calc(80% - 112px);">
			<button  id="checkBtn"  class="secure"  type="button">확인</button>
			<dl class="timer" data-role="bind" data-name="timer">03:00</dl></li>
		<li class="overTime" style="display: none;"><dl style="color: #f52926;">입력시간을 초과하였습니다. 인증번호 재전송 후 다시 시도해 주세요.</dl></span>
		</li>
		<li class="showId">
			<div class="login_menu">
				<div id="showId" class="find"></div>
				<a class="find" href="/findPassword">비밀번호 찾기</a>
			</div>
		</li>
		<li>
			<div class="login_menu">
				<a class="find" href="/">로그인 하기</a>
			</div>
		</li>
	</ul>
	</form>

	</div>

</body>
</html>
<script src="/js/login/findId.js"></script>
<script>var contextPath = '';</script>