<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>찍자 - 회원가입</title>
    <meta name="description" content="찍자 - 나만의 스튜디오">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
<!--    <link rel="stylesheet" href="/admin/assets/css/cs-skin-elastic.css">-->
<!--    <link rel="stylesheet" href="/admin/assets/css/style.css">-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152403132-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-152403132-1');
	</script>
	    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<script src="/js/jquery.js"></script>
	<script src="/js/common-util.js"></script>
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<style>
		.form-control.error{
			  border-color: #ffa8a8;
			  background-color: #fff3f3;
			  color: #000;
		}
		.login-form label.error {
			color: red;
			text-transform: none; 
		}
		.valid{
			  border-color: #28a745;
			  background-color: #fff;
			  color: #000;
		}
		input[type=checkbox] {
			width: 25px;
			height: 25px;
			background-position: -60px 0;
			background-size: 120px 25px;
		}
		strong{
			    color: #212329;
		}
		a{
			text-decoration: underline;
		}
		.btn-join{
			background-color:#ffc107;
			color: #000;
		}
		.btn-join:hover{background-color:#ff9966;}
	</style>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body class="bg-white">

    <div class="sufee-login d-flex align-content-center flex-wrap">
	      <div class="container" style="max-width: 550px">
            <div class="login-content">
            	<div class="login-logo">
                    <a href="/">
                      <h1 style="text-align: center;">  <img class="align-content" src="/images/login/login_logo.png" alt=""></h1>
                    </a>
                </div>
                <div class="login-form" style="max-width: 550px">
                    <form action="/join" id="stdoFrm" name="stdoFrm" method="post" enctype="multipart/form-data">
                    	<div class="form-group">
                            <label>아이디 *</label>
                            <input type="text" name="studioId" id="studioId" class="form-control" required="required" />
                        </div>
                         <div class="form-group">
                            <label>비밀번호 *</label>
                            <input type="password" name="password" id="password" class="form-control" required="required"/>
                        </div>
                         <div class="form-group">
                            <label>비밀번호 확인 *</label>
                            <input type="password" name="passwordChk" id="passwordChk" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label>회사명(사업자/법인) *</label>
                            <input type="text" class="form-control" id="studioName" name="studioName"  required="required"/>
                        </div>
                        <div class="form-group">
                            <label>스튜디오 전화번호 *</label>
                           	<input type="number" name="tel" id="tel" class="form-control "  required="required" placeholder="ex)0212345678"/>
                        </div>
                         <div class="form-group">
                            <label>우편번호 *</label>
                             <div class="row form-group">
	                            <div class="col-sm-9" style="width: calc(70%)">
	                            	 <input type="number" name="postCode" id="postCode" class="form-control" maxlength="5" required="required"/>
	                            </div>
	                            <div class="col-sm-3"  style="width: calc(30%);padding-left: 0px;">
	                            	 <button  type="button" class="btn-sm btn-outline-secondary" onclick="searchPostcode()" style="float: right; height: 38px; width: 90px;">검색</button>
	                            </div>
                            </div>
                           
                        </div>
                         <div class="form-group">
                            <label>주소 *</label>
                            <input type="text" name="addr" id="addr" class="form-control"  required="required"/>
                        </div>
                         <div class="form-group">
                            <label>상세주소 *</label>
                            <input type="text" name="addrDtl" id="addrDtl" class="form-control"  required="required"/>	
                        </div>
                         <div class="form-group">
                            <label>담당자 *</label>
                            <input type="text" name="managerName" id="managerName" class="form-control"  required="required"/>
                        </div>
                         <div class="form-group">
                            <label>담당자 연락처 *</label>
                           	 <input type="number" name="managerTel" id="managerTel" class="form-control"  placeholder="ex) 01012345678"  required="required"/>
                        </div>
                         <div class="form-group">
                            <label>담당자 이메일 *</label>
                           	<input type="text" id="managerEmail" name="managerEmail" class="form-control"  />
                        </div>
                         <div class="form-group">
                            <label>사업자 번호 *</label>
                           	<input type="number" id="businessNumber" name="businessNumber"  class="form-control " placeholder="숫자만 입력해주세요."   />
                        </div>
                         <div class="form-group">
                            <label>사업자 등록증</label>
                            <input type="file" name="businessLicFile" id="businessLicFile" class="form-control"/>
                        </div>
<!--                          <div class="form-group"> -->
<!--                             <label>본점</label> -->
<!--                            <input type="text" name="headOfc"class="form-control" />	
								<button  type="button" >찾기</button>			 -->
<!--                         </div> -->
						<div>
<!-- 							<div class="form-group" > -->
<!-- 	                            	 <input type="checkbox" id="allTerms" name="allTerms" value="" class="form-check-input" style="padding-left: 20px;margin-left: 0;"> -->
<!-- 	                            	 <label for="allTerms" class="form-check-label " style="padding-left: 20px;margin-left:20px;"><strong>전체 약관에 동의합니다</strong></label> -->
<!-- 							</div> -->
							<div class="form-group" id="policy">
	                            	 <input type="checkbox" id="requiredTermStatus" name="requiredTermStatus" value="Y" class="form-check-input" style="margin-left: 0;" >
	                            	 <label for="requiredTermStatus" class="form-check-label bold" style="padding-left: 20px;margin-left:20px;font-size: small;"><strong>필수 항목에 동의합니다</strong></label>
							</div>
							<div class="form-group row" >
	                            <div class="col-sm-5">
	                            		<a href="/policy?position=terms" target="_blank" style="font-size: xx-small;cursor: pointer;">사이트 이용약관</a>
	                            </div>
<!-- 	                            <div class="col-sm-5"> -->
<!-- 	                            		<a href="/policy?position=collectionAndUsage" target="_blank" style="font-size: xx-small;cursor: pointer;">개인정보 수집 이용 동의</a> -->
<!-- 	                            </div> -->
							</div>
<!-- 							<div class="form-group" > -->
<!-- 	                            	 <input type="checkbox" id="marketingTerms" name="marketingTerms" value="" class="form-check-input"style="padding-left: 20px;margin-left: 0;"> -->
<!-- 	                            	 <label for="marketingTerms" class="form-check-label " style="padding-left: 20px;margin-left:20px;font-size: small;">광고성 정보 수신 동의(선택)</label> -->
<!-- 							</div> -->
					</div>
						<input type="hidden" id="sido" name="sido"  class=""/>
						<input type="hidden" id="gugun" name="gugun"  class=""/>
						<input type="hidden" id="dong" name="dong"  class=""/>
						<input type="hidden" id="lttd" name="lttd"  class="" value=""/> <!-- 위도 -->
						<input type="hidden" id="lgtd" name="lgtd"  class="" value=""/> <!-- 경도 -->
                       <h1 style="text-align: center;">  <button type="submit" id="joinBtn" class="btn social btn-flat btn-addon mt-2 btn-join">회원 가입</button></h1>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<!--    <script src="/js/login/main.js"></script>-->
    <script src="/js/login/join.js"></script>
    <script src="/js/common/validateCommon.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
</body>
</html>