<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
	  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152403132-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-152403132-1');
</script>
	<meta name="naver-site-verification" content="262f213ae89976694f4aa520b534d30bab71b7dc"/>
	<meta property="og:type" content="website">
	<meta property="og:title" content="찍자 스튜디오">
	<meta property="og:description" content="메인 페이지">
	<meta property="og:image" content="/resources/images/login/login_logo.png">
	<meta property="og:url" content="https://studio.zzikza.com">
	<meta name="description" content="찍자 스튜디오 사장님을 위한 공간">
    <meta charset="utf-8">
	<title>찍자 스튜디오</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="apple-touch-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/css/include.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/html5shiv.js"></script>
        <script type="text/javascript" src="/js/html5shiv.printshiv.js"></script>
    <![endif]-->
  
	    
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/bootstrap-select.min.js"></script> <!-- selectbox -->
	<script src="/js/bootstrap.bundle.min.js"></script> <!-- selectbox -->
    <script src="/js/style.js"></script>
	<script src="/js/common-util.js"></script>
	<script src="/js/jquery.form.js"></script>
	<script src="/js/jquery.validate.min.js"></script> 
</head>
<style>
/* body#login { */
/* background-size: auto; */
/* } */

.login_footer {
/* padding : 20px; *//* background: #d9dbe5; */
color: #767c8f;
font-size: xx-small;
font-weight: 400;
text-align: center;
color:#666;
margin:0;
/* margin-bottom: 105px; */
}

</style>
<body id="login">   
	<div class="login_box">
	<form name="loginFrm1"  id="loginFrm1"  method="post" >
		<h1><img src="/images/login/login_logo.png" alt="찍자"></h1>
		<ul class="login_form">
			<li><span>ID</span><input type="text" name="studioId"></li>
			<li><span>Password</span><input type="password" name="password" ></li>
			<li class="login_btn">
				<button  type="submit" id="loginBtn1"  class="btn_login">LOGIN<i></i></button>
			</li>
		</ul>
		
		<div class="login_menu">
			<a href="/join">가입</a>
			<a href="/findId">아이디 찾기</a>
			<a href="/findPassword">비밀번호 찾기</a>
		</div>
		
			<div class="login_footer">주식회사 포더모먼트 <span>|</span>대표이사 : 고동은  <span>|</span>사업자등록번호 : 647-86-013-07 <br> 주소 : 서울특별시 강남구 테헤란로70길 14-1 3층 304호 <br>문의전화 : 02-6205-3420 <span>|</span>문의메일 : zzikza@4themoment.co.kr<br>
			    <p class="copy web block">Copyright &copy; 2019 <strong>zzikza</strong>. All rights reserved.</p>
			</div>
	</form>
	
	</div>  
	
</body>
<script src="/js/login/login.js"></script>
</html>
    
