<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ko"> <!--<![endif]-->
{{>layout/head}}
<body>
    {{>layout/header}}
	<div class="container">
        {{>layout/left-panel}}
        <!-- 본문자리 -->
        <!-- left_area -->
        <div class="left_content_area">
            <div class="left_content_head">
                <h2 class="sub_tit">상품목록</h2>
            </div>
            <div class="inner">
                <div class="box_area full">
                    <h3 class="sub_stit">상품목록</h3>
                    <table class="tCont">
                        <caption>상품관리 목록입니다</caption>
                        <colgroup>
                            <col class="td01">
                            <col style="">
                            <col class="td02">
                            <col class="td02">
                            <col class="td03">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>글번호</th>
                            <th>상품명</th>
                            <th>가격</th>
                            <th>등록날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#list}}
                            <tr class="prdRow" data-seq='{{id}}'>
                                <td>{{id}}</td>
                                <td class="textL">{{title }}</td>
                                <td>{{price}}</td>
                                <td>{{createdDate}}</td>
                            </tr>
                        {{/list}}
                        </tbody>
                    </table>
                    <!--- pager --->
                    <!-- 페이징 -->
                    {{>layout/paging}}
                    <!-- 페이징 -->

                </div>
            </div>
        </div>
        <!--// left_area -->
        <script src="/js/moment.min.js"></script>
        <script src="/js/fullcalendar.js"></script>
        <script src="/js/product/productList.js"></script>
        <script>
            function fn_paging(index){
                location.href= '/product/list?page='+index;
            }
        </script>
        <!-- 본문자리 -->
	</div>
	
	
	<!-- popup -->
	<div id="popup"></div>
	<!--// popup -->
</body>
</html>
