<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ko"> <!--<![endif]-->
{{>layout/head}}
<body>
{{>layout/header}}
<div class="container">
    {{>layout/left-panel}}
    <!-- 본문자리 -->


    <!-- left_area -->
    <div class="left_content_area">
        <div class="left_content_head">
            <h2 class="sub_tit">게시판</h2>
        </div>
        <div class="inner">
            <ul class="tabs">
                {{#commonCodes}}
                    <li><a href="/board/{{commCd}}"  {{#selected}}class='active'{{/selected}}>
                        {{commCdNm}}
                    </a></li>
                {{/commonCodes}}
            </ul>

            <div class="box_area full">
                {{#commonCode}}
                    <h3 class="sub_stit">{{commCdNm}}</h3>
                    {{#qna}}
                        <div class="btn_area top_right">
                            <button type="button" class="btn_form" id="btnQna">질문하기</button>
                        </div>
                    {{/qna}}
                {{/commonCode}}
                <table class="tCont list">
                    <caption>공지사항 목록입니다</caption>
                    <colgroup>
                        <col class="td04">
                        <col style="">
                        <col class="td02">
                        <col class="td03">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#list}}
                        <tr seq='{{id}}' cate='{{brdCateCd}}'>
                            <td>{{id}}</td>
                            <td class="textL">
                                <a href="javascript:void(0);">
                                    {{#board}}
                                        {{title }}
                                    {{/board}}
                                </a>
                            </td>
                            <td>
                                {{#studio}}
                                    {{studioName}}
                                {{/studio}}
                            </td>
                            <td>
                                {{createdDate}}
                            </td>
                        </tr>
                    {{/list}}
                    </tbody>
                </table>
                <!-- 페이징 -->
                {{>layout/paging}}
                <!-- 페이징 -->
            </div>
        </div>
    </div>
    <!--// left_area -->
    <script src="/js/board/boardList.js"></script>
    <script>
        const brdCateCd = '{{brdCateCd}}';
        const contextPath = "/";

        function fn_paging(index) {
            location.href = '/board/' + brdCateCd + '?page=' + index;
        }
    </script>

    <!-- 본문자리 -->
</div>
<!-- left_area -->

<!-- popup -->
<div id="popup"></div>
<!--// popup -->
</body>
</html>
