<!-- s:footer -->
<div class="footer">
    <div class="wrap">
        <img src="/img/zzikza_logo_f.png" alt="찍자">
        <div>
            <p>주식회사 포더모먼트</p>
            <p>대표이사 : 고동은</p>
            <p>사업자등록번호 : 647-86-01307</p>
            <p>통신판매업신고증 : 제2019-서울강남-04694</p>
            <p>서울 강남구 테헤란로70길 14-1 3층 304호 (대치동, 남양빌딩)</p>
        </div>
        <div>
            <p>문의전화 <strong>02-6205-3420</strong></p>
            <p>문의메일 : zzikza@4themoment.co.kr</p>
            <p>호스팅서비스 제공자 : 주식회사 카페24</p>
            <p class="copy">Copyright &copy; 2020 <strong>(주)포더모먼트</strong>. All rights reserved.</p>
        </div>
        <div>
            <div class="footer_menu">
                <a href="/policy?position=use">통합이용약관</a>
                <a href="/policy?position=collect">개인정보 처리방침</a>
                <a href="javascript:void addChannel()"><img src="/img/ico_kakaoplus.png" alt="">채널추가</a>
            </div>
            <p>(주)포더모먼트는 찍자를 통해 진행된 상품의 예약금에 대한 결제,환불에 관련된 책임과 의무를 지고 있습니다.</p>
        </div>
    </div>
    <script type='text/javascript'>
        //<![CDATA[
        // 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('4e0ffbd07146baa904ca5fc6aea4ccf8');
        function addChannel() {
            Kakao.Channel.addChannel({
                channelPublicId : '_AYQWT' // 채널 홈 URL에 명시된 id로 설정합니다.
            });
        }
        //]]>
    </script>

</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>