<ul>
   <li><a href="/goods/list?productCategory=PP"><img src="/img/qmn_1.png" alt="증명/여권사진">증명/여권</a></li>
   <li><a href="/goods/list?productCategory=FP"><img src="/img/qmn_2.png" alt="가족사진">가족사진</a></li>
   <li><a href="/goods/list?productCategory=WP"><img src="/img/qmn_3.png" alt="결혼사진">결혼/리마인드</a></li>
   <li><a href="/goods/list?productCategory=BP"><img src="/img/qmn_4.png" alt="아기사진">베이비</a></li>
   <li><a href="/goods/list?productCategory=CP"><img src="/img/qmn_5.png" alt="우정 / 커플 사진">우정/커플</a></li>
   <li><a href="/goods/list?productCategory=PR"><img src="/img/qmn_6.png" alt="프로필">프로필</a></li>
   <li><a href="/goods/list?productCategory=ST"><img src="/img/qmn_7.png" alt="스튜디오 렌탈">렌탈 스튜디오</a></li>
   <li><a href="/goods/list?productCategory=MP"><img src="/img/qmn_8.png" alt="제품/건축">제품/건축</a></li>
   <li><a href="/goods/list?productCategory=SP"><img src="/img/qmn_9.png" alt="스냅 사진">스냅 사진</a></li>
   <li><a href="/request?reqCateCd=102"><img src="/img/qmn_11.png" alt="개인 요청">개인 요청</a></li>
   <li><a href="/request?reqCateCd=103"><img src="/img/qmn_10.png" alt="기업 요청">기업 요청</a></li>
   <li><a href="/request?reqCateCd=104"><img src="/img/qmn_12.png" alt="기타 요청">기타 요청</a></li>
</ul>