<!-- head -->
<div class="head">
    <div class="logo_area">
        <h1 class="logo"><a href="/board/notice"><img src="/images/common/logo.png" alt="찍자"></a></h1>
        <span class="login_info">
			<a href="/info/view">
                {{#loginStudio}}
                    {{studioName}}
                {{/loginStudio}}
            </a>
		</span>
    </div>
    <ul class="gnb_area">
        <li><a href="/logout?returl=/" class="logout" target="_parent"><i></i>로그아웃</a></li>
        <li><a href="#"><i class="all_menu">전체메뉴</i></a></li>
    </ul>
</div>
